{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create New Movie{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form enctype="multipart/form-data" method="post">
    <fieldset>
      {% for message in get_flashed_messages() %}
        {% if 'movie_create_value_error' in message %}
          {{ message['movie_create_value_error'] }}
        {% endif %}
        {% if 'movie_create_integrity_error' in message %}
          {{ message['movie_create_integrity_error'] }}
        {% endif %}
      {% endfor %}
      <label for="title">
        Title
        <input name="title" id="title" placeholder="Title" autocomplete="title" value="{{ request.form['title'] }}" required
        {% for message in get_flashed_messages() %}
          {% if 'movie_create_invalid_title' in message or 'movie_create_movie_already_exists' in message %}
            aria-invalid="true"
            aria-describedby="invalid-title-helper"
          {% endif %}
        {% endfor %}
        ></input>
        {% for message in get_flashed_messages() %}
          {% if 'movie_create_invalid_title' in message %}
            <small id="invalid-title-helper">
              {{ message['movie_create_invalid_title'] }}
            </small>
          {% endif %}
          {% if 'movie_create_movie_already_exists' in message %}
            <small id="invalid-title-helper">
              {{ message['movie_create_movie_already_exists'] }}
            </small>
          {% endif %}
        {% endfor %}
      </label>
      <label for="subtitle">
        Subtitle
        <input name="subtitle" id="subtitle" placeholder="Subtitle" autocomplete="subtitle" value="{{ request.form['subtitle'] }}" required
        {% for message in get_flashed_messages() %}
          {% if 'movie_create_invalid_subtitle' in message %}
            aria-invalid="true"
            aria-describedby="invalid-subtitle-helper"
          {% endif %}
        {% endfor %}
        ></input>
        {% for message in get_flashed_messages() %}
          {% if 'movie_create_invalid_subtitle' in message %}
            <small id="invalid-subtitle-helper">
              {{ message['movie_create_invalid_subtitle'] }}
            </small>
          {% endif %}
        {% endfor %}
      </label>
      <label for="description">
        Description
        <textarea name="description" id="description" placeholder="Description" autocomplete="description" required
        {% for message in get_flashed_messages() %}
          {% if 'movie_create_invalid_description' in message %}
            aria-invalid="true"
            aria-describedby="invalid-description-helper"
          {% endif %}
        {% endfor %}
        >{{ request.form['description'] }}</textarea>
        {% for message in get_flashed_messages() %}
          {% if 'movie_create_invalid_description' in message %}
            <small id="invalid-description-helper">
              {{ message['movie_create_invalid_description'] }}
            </small>
          {% endif %}
        {% endfor %}
      </label>
      <label for="author">
        Author
        <input name="author" id="author" placeholder="Author" autocomplete="author" value="{{ request.form['author'] }}" required
        {% for message in get_flashed_messages() %}
          {% if 'movie_create_invalid_author' in message %}
            aria-invalid="true"
            aria-describedby="invalid-author-helper"
          {% endif %}
        {% endfor %}
        ></input>
         {% for message in get_flashed_messages() %}
          {% if 'movie_create_invalid_author' in message %}
            <small id="invalid-author-helper">
              {{ message['movie_create_invalid_author'] }}
            </small>
          {% endif %}
        {% endfor %}
      </label>
      <label for="release">
        Release
        <input name="release" id="release" placeholder="Release" autocomplete="release" type="date" aria-label="Release" value="{{ request.form['release'] }}" required
        {% for message in get_flashed_messages() %}
          {% if 'movie_create_invalid_release' in message %}
            aria-invalid="true"
            aria-describedby="invalid-release-helper"
          {% endif %}
        {% endfor %}
        ></input>
        {% for message in get_flashed_messages() %}
          {% if 'movie_create_invalid_release' in message %}
            <small id="invalid-release-helper">
              {{ message['movie_create_invalid_release'] }}
            </small>
          {% endif %}
        {% endfor %}
      </label>
      <label for="image">
        Image
        <input name="image" id="image" type="file" accept="image/*" aria-describedby="image-helper"></input>
        <small id="image-helper">
          Maximum filesize is {{ config['MAX_CONTENT_LENGTH'] / 1000 / 1000 }}MB
        </small>
      </label>
    </fieldset>
    <input type="submit" value="Save"></input>
  </form>
{% endblock %}
