{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Movie{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <fieldset>
      <label for="title">
        Title
        <input name="title" id="title" placeholder="Title" autocomplete="title" value="{{ request.form['title'] }}" required></input>
      </label>
      <label for="subtitle">
        Subtitle
        <input name="subtitle" id="subtitle" placeholder="Subtitle" autocomplete="subtitle" value="{{ request.form['subtitle'] }}"></input>
      </label>
      <label for="description">
        Description
        <textarea name="description" id="description" placeholder="Description" autocomplete="description">{{ request.form['description'] }}</textarea>
      </label>
      <label for="author">
        Author
        <input name="author" id="author" placeholder="Author" autocomplete="author" value="{{ request.form['author'] }}"></input>
      </label>
      <label for="release">
        Release
        <input name="release" id="release" placeholder="Release" autocomplete="release" value="{{ request.form['release'] }}"></input>
      </label>
    </fieldset>
    <input type="submit" value="Save">
  </form>
{% endblock %}
