{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Movies{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for movie in movies %}
        <article>
            <header>
                <h2>{{ movie['Title'] }}</h2>
                <h3>{{ movie['Subtitle'] }}</h3>
            </header>
            {{ movie['Description'] }}
            <footer>
                <span>{{ movie['Author'] }}</span>
                <i>{{ movie['Release'] }}</i>
                
            </footer>
        </article>
        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}
{% endblock %}
