{% extends 'base.html' %}
{% import 'macros/pagination.html' as pagination_macro %}

{% block header %}
  <h1>{% block title %}Movies{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% for movie in page %}
        <article>
            <header>
                <h2>{{ movie['title'] }}</h2>
                <h3>{{ movie['subtitle'] }}</h3>
            </header>
            {{ movie['description'] }}
            <footer>
                <p>{{ movie['author'] }}</p>
                <p>{{ movie['release'].strftime('%Y') }}</p>
                <a href="{{ url_for('movie.update', id=movie['id']) }}">Update movie</a>
            </footer>
        </article>
        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}
    {{ pagination_macro.render_pagination(page, 'movie.index') }}
{% endblock %}
