{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update Movie{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form enctype="multipart/form-data" method="post">
    <fieldset>
      <label for="title">
        Title
        <input name="title" id="title" placeholder="Title" autocomplete="title" value="{{ request.form['title'] or movie['title'] }}" required
        {% for message in get_flashed_messages() %}
          {% if 'movie_title_is_invalid' in message %}
            aria-invalid="true"
            aria-describedby="invalid-helper"
          {% endif %}
        {% endfor %}
        ></input>
        {% for message in get_flashed_messages() %}
          {% if 'movie_title_is_invalid' in message %}
            <small id="invalid-helper">
              {{ message['movie_title_is_invalid'] }}
            </small>
          {% endif %}
        {% endfor %}
      </label>
      <label for="subtitle">
        Subtitle
        <input name="subtitle" id="subtitle" placeholder="Subtitle" autocomplete="subtitle" value="{{ request.form['subtitle'] or movie['subtitle'] }}"></input>
      </label>
      <label for="description">
        Description
        <textarea name="description" id="description" placeholder="Description" autocomplete="description">{{ request.form['description'] or movie['description'] }}</textarea>
      </label>
      <label for="author">
        Author
        <input name="author" id="author" placeholder="Author" autocomplete="author" value="{{ request.form['author'] or movie['author'] }}"></input>
      </label>
      <label for="release">
        Release
        <input name="release" id="release" placeholder="Release" autocomplete="release" type="date" aria-label="Release" value="{{ request.form['release'] or movie['release'].strftime('%Y-%m-%d') }}"
        {% for message in get_flashed_messages() %}
          {% if 'movie_date_time_invalid' in message %}
            aria-invalid="true"
            aria-describedby="invalid-helper"
          {% endif %}
        {% endfor %}
        ></input>
        {% for message in get_flashed_messages() %}
          {% if 'movie_date_time_invalid' in message %}
            <small id="invalid-helper">
              {{ message['movie_date_time_invalid'] }}
            </small>
          {% endif %}
        {% endfor %}
      </label>
      <label for="image">
        Image
        <input name="image" id="image" type="file" accept="image/*"></input>
      </label>
    </fieldset>
    <input type="submit" value="Save"></input>
  </form>
  <hr>
  <form action="{{ url_for('movie.delete', id=movie['id']) }}" method="post">
    <fieldset>
        <input style="background-color:red; border-color:red;" type="submit" value="Delete" onclick="return confirm('Are you sure?');"></input>
    </fieldset>
  </form>
{% endblock %}
