{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Update Movie{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form enctype="multipart/form-data" method="post">
    <fieldset>
      {% for message in get_flashed_messages() %}
        {% if 'movie_update_value_error' in message %}
          {{ message['movie_update_value_error'] }}
        {% endif %}
        {% if 'movie_update_integrity_error' in message %}
          {{ message['movie_update_integrity_error'] }}
        {% endif %}
      {% endfor %}
      <label for="title">
        Title
        <input name="title" id="title" placeholder="Title" autocomplete="title" value="{{ request.form['title'] or movie['title'] }}" required
        {% for message in get_flashed_messages() %}
          {% if 'movie_update_invalid_title' in message or 'movie_update_movie_already_exists' in message %}
            aria-invalid="true"
            aria-describedby="invalid-title-helper"
          {% endif %}
        {% endfor %}
        ></input>
        {% for message in get_flashed_messages() %}
          {% if 'movie_update_invalid_title' in message %}
            <small id="invalid-title-helper">
              {{ message['movie_update_invalid_title'] }}
            </small>
          {% endif %}
          {% if 'movie_update_movie_already_exists' in message %}
            <small id="invalid-title-helper">
              {{ message['movie_update_movie_already_exists'] }}
            </small>
          {% endif %}
        {% endfor %}
      </label>
      <label for="subtitle">
        Subtitle
        <input name="subtitle" id="subtitle" placeholder="Subtitle" autocomplete="subtitle" value="{{ request.form['subtitle'] or movie['subtitle'] }}" required
        {% for message in get_flashed_messages() %}
          {% if 'movie_update_invalid_subtitle' in message %}
            aria-invalid="true"
            aria-describedby="invalid-subtitle-helper"
          {% endif %}
        {% endfor %}
        ></input>
        {% for message in get_flashed_messages() %}
          {% if 'movie_update_invalid_subtitle' in message %}
            <small id="invalid-subtitle-helper">
              {{ message['movie_update_invalid_subtitle'] }}
            </small>
          {% endif %}
        {% endfor %}
      </label>
      <label for="description">
        Description
        <textarea name="description" id="description" placeholder="Description" autocomplete="description" required
        {% for message in get_flashed_messages() %}
          {% if 'movie_update_invalid_description' in message %}
            aria-invalid="true"
            aria-describedby="invalid-description-helper"
          {% endif %}
        {% endfor %}
        >{{ request.form['description'] or movie['description'] }}</textarea>
        {% for message in get_flashed_messages() %}
          {% if 'movie_update_invalid_description' in message %}
            <small id="invalid-description-helper">
              {{ message['movie_update_invalid_description'] }}
            </small>
          {% endif %}
        {% endfor %}
      </label>
      <label for="author">
        Author
        <input name="author" id="author" placeholder="Author" autocomplete="author" value="{{ request.form['author'] or movie['author'] }}" required
        {% for message in get_flashed_messages() %}
          {% if 'movie_update_invalid_author' in message %}
            aria-invalid="true"
            aria-describedby="invalid-author-helper"
          {% endif %}
        {% endfor %}
        ></input>
        {% for message in get_flashed_messages() %}
          {% if 'movie_update_invalid_author' in message %}
            <small id="invalid-author-helper">
              {{ message['movie_update_invalid_author'] }}
            </small>
          {% endif %}
        {% endfor %}
      </label>
      <label for="release">
        Release
        <input name="release" id="release" placeholder="Release" autocomplete="release" type="date" aria-label="Release" value="{{ request.form['release'] or movie['release'].strftime('%Y-%m-%d') }}" required
        {% for message in get_flashed_messages() %}
          {% if 'movie_update_invalid_release' in message %}
            aria-invalid="true"
            aria-describedby="invalid-release-helper"
          {% endif %}
        {% endfor %}
        ></input>
        {% for message in get_flashed_messages() %}
          {% if 'movie_update_invalid_release' in message %}
            <small id="invalid-release-helper">
              {{ message['movie_update_invalid_release'] }}
            </small>
          {% endif %}
        {% endfor %}
      </label>
      <label for="image">
        Image
        <input name="image" id="image" type="file" accept="image/*" aria-describedby="image-helper"
        {% for message in get_flashed_messages() %}
          {% if 'movie_update_request_entity_too_large' in message %}
            aria-invalid="true"
            aria-describedby="invalid-image-helper"
          {% endif %}
        {% endfor %}
        ></input>
        {% for message in get_flashed_messages() %}
          {% if 'movie_update_request_entity_too_large' in message %}
            <small id="invalid-image-helper">
              {{ message['movie_update_request_entity_too_large'] }}
            </small>
          {% endif %}
        {% endfor %}
        <small id="image-helper">
          Maximum filesize is {{ config['MAX_UPLOAD_SIZE'] / 1000 / 1000 }}MB
        </small>
      </label>
    </fieldset>
    <input type="submit" value="Save"></input>
  </form>
  <hr>
  <form action="{{ url_for('movie.delete', id=movie['id']) }}" method="post">
    <fieldset>
        <input style="background-color:red; border-color:red;" type="submit" value="Delete" onclick="return confirm('Are you sure?');"></input>
    </fieldset>
  </form>
{% endblock %}
