{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <fieldset>
      <label for="username">
        Username
        <input name="username" id="username" placeholder="Username" autocomplete="username" required>
      </label>
      <label for="password">
        Password
        <input type="password" name="password" id="password" placeholder="Password" required>
      </label>
    </fieldset>
    <input type="submit" value="Log In">
  </form>
{% endblock %}
