{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <fieldset>
      <label for="username">
        Username
        <input name="username" id="username" placeholder="Username" autocomplete="username" required
        {% for message in get_flashed_messages() %}
          {% if 'auth_login_incorrect_username' in message %}
            aria-invalid="true"
            aria-describedby="invalid-username-helper"
          {% endif %}
        {% endfor %}
        ></input>
        {% for message in get_flashed_messages() %}
          {% if 'auth_login_incorrect_username' in message %}
            <small id="invalid-username-helper">
              {{ message['auth_login_incorrect_username'] }}
            </small>
          {% endif %}
        {% endfor %}
      </label>
      <label for="password">
        Password
        <input type="password" name="password" id="password" placeholder="Password" required
        {% for message in get_flashed_messages() %}
          {% if 'auth_login_incorrect_password' in message %}
            aria-invalid="true"
            aria-describedby="invalid-password-helper"
          {% endif %}
        {% endfor %}
        ></input>
        {% for message in get_flashed_messages() %}
          {% if 'auth_login_incorrect_password' in message %}
            <small id="invalid-password-helper">
              {{ message['auth_login_incorrect_password'] }}
            </small>
          {% endif %}
        {% endfor %}
      </label>
    </fieldset>
    <input type="submit" value="Log In"></input>
  </form>
{% endblock %}
