{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <fieldset>
      <label for="username">
        Username
        <input name="username" id="username" placeholder="Username" autocomplete="username" required
        {% for message in get_flashed_messages() %}
          aria-invalid="true"
          aria-describedby="invalid-helper"
        {% endfor %}
        ></input>
        {% for message in get_flashed_messages() %}
          <small id="invalid-helper">
            {{ message }}
          </small>
        {% endfor %}
      </label>
      <label for="password">
        Password
        <input type="password" name="password" id="password" placeholder="Password" required></input>
      </label>
    </fieldset>
    <input type="submit" value="Register"></input>
  </form>
{% endblock %}
