<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Movie DB</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <header class="container">
            <hgroup>
                <h1><a href="{{ url_for('movie.index') }}">Movie DB</a></h1>
                {% block header %}{% endblock %}
            </hgroup>
            <aside>
                <nav>
                    <ul>
                        <li><strong>The movie database</strong></li>
                    </ul>
                    <ul>
                        {% if current_user.is_authenticated %}
                            <li><h2>Hi {{ current_user.username }}!</h2></li>
                        {% endif %}
                        <li>
                            <!-- <form action="{{ url_for('movie.search') }}" method="get">
                                <fieldset class="grid">
                                    <input type="search" name="search_string" id="search_string" placeholder="Search" aria-label="Search"></input>
                                    <input type="submit" value="Search"></input>
                                </fieldset>
                            </form> -->
                        </li>
                        {% if current_user.is_authenticated %}
                            <li>
                                <a href="{{ url_for('movie.create') }}">Create new movie</a>
                                <!-- <form action="{{ url_for('movie.create') }}" method="get">
                                    <fieldset class="grid">
                                        <input type="submit" value="Create new movie"></input>
                                    </fieldset>
                                </form> -->
                            </li>
                            <li>
                                <a href="{{ url_for('auth.logout') }}">Logout</a>
                                <!-- <form action="{{ url_for('auth.logout') }}" method="get">
                                    <fieldset class="grid">
                                        <input style="background-color:red; border-color:red;" type="submit" value="Logout"></input>
                                    </fieldset>
                                </form> -->
                            </li>
                        {% endif %}
                        {% if current_user.is_authenticated == false %}
                            <li>
                                <a href="{{ url_for('auth.register') }}">Register</a>
                                <!-- <form action="{{ url_for('auth.register') }}" method="get">
                                    <fieldset class="grid">
                                        <input type="submit" value="Register"></input>
                                    </fieldset>
                                </form> -->
                            </li>
                            <li>
                                <a href="{{ url_for('auth.login') }}">Log In</a>
                                <!-- <form action="{{ url_for('auth.login') }}" method="get">
                                    <fieldset class="grid">
                                        <input style="background-color:green; border-color:green;" type="submit" value="Log In"></input>
                                    </fieldset>
                                </form> -->
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </aside>
        </header>
        <main class="container">
            {% block content %}{% endblock %}   
        </main>
        <footer class="container">
            &copy; maxpa1n87 2026
        </footer>
    </body>
</html>
