<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Movie DB</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="light dark">
        <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Movie DB</h1>
        <nav class="navigation">
            <ul>
            </ul>
        </nav>
        <header>
            {% block header %}{% endblock %}
        </header>
        <section class="container-fluid">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
