<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - Movie DB</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Movie DB</h1>
        <nav class="navigation">
            <ul>
                <!-- {% if g.user %}
                    <li><span>{{ g.user['username'] }}</span></li>
                    <li><a href="{{ url_for('auth.logout') }}"></a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.register') }}"></a></li>
                    <li><a href="{{ url_for('auth.login') }}"></a></li>
                {% endif %} -->
            </ul>
        </nav>
        <header>
            {% block header %}{% endblock %}
        </header>
        <section class="content">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
