{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Movies{% endblock %}</h1>
  <!--
  {% if g.user %}
    <a class="action" href="{{ url_for('moviedb.create') }}">New</a>
  {% endif %}
    -->
{% endblock %}

{% block content %}
    {% for movie in movies %}
        <article class="movie">
            <header>
                <h1>{{ movie['Title'] }}</h1>
                <h2>{{ movie['Subtitle'] }}</h2>
                <h3>{{ movie['Author'] }}</h3>
                <h2>{{ movie['Release'] }}</h2>
            </header>
            <p class="body">
                {{ movie['Description'] }}
            </p>
        </article>
        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}
{% endblock %}
